<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  [attr.ariaValuenow]='progreso1' [style.width]="progreso1 + '%'" >
                    </div>
                </div>

                <br>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"  [attr.ariaValuenow]='progreso2' [style.width]="progreso2 + '%'" >
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-6">
        <div class="card">
             <div class="card-body">

               <!-- <div class="input-group">
                   <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
                                <i class="mdi mdi-minus"></i>
                        </button>
                   </span>
                   <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso">
                   <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)"> 
                            <i class="mdi mdi-plus"></i>
                        </button>
                   </span>
               </div> 
            sin llaves leyenda='Barra azul' estamaos mando un string, con llaves [leyenda]='Barra azul' estamaos mando un numero 
            input
            <app-incrementador leyenda='Barra azul' [progreso]='80'></app-incrementador> 
            output
            <app-incrementador (cambioValor)='actualizaValor($event)' nombreLeyenda='Barra azul' [progreso]='progreso1'></app-incrementador>
            <app-incrementador (cambioValor)='progreso1 = $event' nombreLeyenda='Barra azul' [progreso]='progreso1'></app-incrementador>
            <app-incrementador (cambioValor)='progreso1 = $event' nombreLeyenda='Barra azul' [progreso]='progreso1'></app-incrementador>
            <app-incrementador (actualiza)='progreso1 = $event' nombreLeyenda='Barra azul' [progreso]='progreso1'></app-incrementador>
        -->
        <app-incrementador (cambioValor)='actualizaValor($event)' nombreLeyenda='Barra azul' [progreso]='progreso1'></app-incrementador> 
 
             </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)='actualizaValor1($event)' nombreLeyenda='Barra verde' [progreso]='progreso2'></app-incrementador>
            </div>
        </div>
    </div>

</div> 

