<div class="row animated fadeIn slow">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <input #inputBuscarMedico type="text" class="form-control" (keyup)='buscarMedico(inputBuscarMedico.value)' placeholder="Buscar Medico..."> 
            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn slow" *ngIf="loading"> 
    <div class="col-sm-12">
        <div class="alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-2x fa-spin"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
      
<div class="row animated fadeIn slow" *ngIf="noExiste">    
         <div class="col-sm-12">
            <div class="alert-warning text-center">
                <strong style="padding: 5px !important; font-size: 50px;">El Medico no existe</strong>
                    <br>
            </div>
        </div>
</div>

<div class="row animated fadeIn slow">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/medico', 'nuevo']" >
                       <i class="fa fa-plus"></i> 
                         Crear Medico
                    </button>
                 </div>
                 <h3 class="card-title">Medicos registrados (<small>{{medicoService.totalRegistros}}</small>) </h3>
                 <table class="table table-hover">
                     <thead>
                         <tr>
                             <th>Foto</th>
                             <th>Medico</th>
                             <th>Hospital</th>
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let medico of medicos; let i=index">
                             <td>
                                 <img [src]="medico.img | imagen:'medicos'"  class="img-50 img-circle pointer">
                             </td>
                             <td>
                                 {{medico.nombre}}
                             </td>
                             <td>{{medico.hospital.nombre}}</td>
                             <td>
                                <button class="btn btn-primary" [routerLink]="['/medico', medico._id]">  
                                    <i class="fa fa-edit"></i>
                                </button> 
                                <!-- (click)='borraMedico(medicoi,i)' -->
                                <button  class="btn btn-danger ml-2"  (click)='borraMedico(medico)'> 
                                    <i class="fa fa-trash-o"></i> 
                                </button>
                             </td>
                            </tr>
                     </tbody>
                 </table>
                 <button class="btn btn-secondary" >
                    Anteriores
                  </button>
  
                  <button  class="btn btn-secondary ml-3" >
                     Siguientes
                  </button>
            </div>
        </div>
    </div>
</div>

